#sampleDiv{
    margin: 30px;
    background-color: darkmagenta;
    height: 300px;
    width: 300px;
}

@media (max-width: 1000px) and (min-width: 750px) {
    #sampleDiv{
        background-color: darkturquoise;
        height: 150px;
    }
}
@media (max-width: 750px) and (min-width: 500px) {
    #sampleDiv{
        background-color: darkgoldenrod;
        width: 150px;
    }
}
@media (max-width: 500px) and (min-width: 0px) {
    #sampleDiv{
        background-color: wheat;
        height: 75px;
    }
}
@media (max-width: 1250px) and (min-width: 1000px) {
    #sampleDiv{
        background-color: crimson;
        height: 150px;
    }
}
/*
@media (not(color)) {
    #sampleDiv{
        background-color: grey;
    }
}*/
